
<div class="up-item">
    <div id="icone-carrinho-compra" class="shopping-card">
        <a href="aa"></a>
            <i class="flaticon-bag"></i>
            <span>@TempData["numero_itens"]</span>
        </a>
    </div>	
</div>