<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header">
        <h2 class="card-title"> Produtos</h2>
      </div>
      <div class="card-body">
        <!-- Botão para acionar modal -->
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#ExemploModalCentralizado">
          <i class="tim-icons icon-simple-add"></i> Novo 
        </button>
        <!-- Fim Botão para acionar modal -->
        
        <div class="">
          <table class="table" id="">
            <thead class="text-primary">
              <tr>
                <th>
                  Nome
                </th>
                <th>
                  Status
                </th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody id="tabela-list-categoria">
             
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>

<!-- Modal cadastrar -->
<div style="margin-top: -400px" class="modal fade" id="ExemploModalCentralizado" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="TituloModalCentralizado">Cadastrar nova Categoria</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="hidden" name="categoriaId" id="id-categoria">
        <label for="nome-categoria">Nome da Categoria</label>
        <input class="form-control text-dark nome-categoria" type="text" name="Nome" autocomplete="false">
        <span class="text-danger validate-nome"></span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary" id="btn-cad-categoria">Salvar mudanças</button>
      </div>
    </div>
  </div>
</div>
<!-- Fim Modal cadastrar -->

<!-- Modal editar-->
<div style="margin-top: -400px" class="modal fade" id="ModalCentralizadoEditar" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="TituloModalCentralizado">Editar</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="hidden" class="id-categoria" name="categoriaId">
        <label for="nome-categoria">Nome da Categoria</label>
        <input class="form-control text-dark nome-categoria" type="text" name="Nome" autocomplete="false">
        <span class="text-danger validate-nome"></span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary" id="btn-edit-categoria">Editar</button>
      </div>
    </div>
  </div>
</div>
<!-- Fim Modal editar -->

<!-- Modal inativar-->
<div style="margin-top: -400px" class="modal fade" id="ModalCentralizadoInativar" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="TituloModalCentralizado">Tem certeza que deseja inativar essa categoria?</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="hidden" class="id-categoria" name="categoriaId">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-success" id="btn-inat-categoria">Confirmar</button>
      </div>
    </div>
  </div>
</div>
<!-- Fim Modal inativar -->

<!-- Modal Ativar-->
<div style="margin-top: -400px" class="modal fade" id="ModalCentralizadoAtivar" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="TituloModalCentralizado">Tem certeza que deseja ativar essa categoria?</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="hidden" class="id-categoria" name="categoriaId">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-success" id="btn-ativ-categoria">Confirmar</button>
      </div>
    </div>
  </div>
</div>
<!-- Fim Modal Ativar -->