<section class="main">
	<div class="layer">
		<div class="alert alert-secondary feed-user-invalid" role="alert">
			<i class="fa fa-exclamation-circle fa-2x text-danger"></i> 
  			<strong class="text-danger pr-2 mensage-invalid-user"></strong>
			<button type="button" class="close btn-close-feed-invalid" aria-label="Close">
    			<span aria-hidden="true">&times;</span>
  			</button>
		</div>
		<div class="content-w3ls">
			<div class="text-center text-light icon">
				Cadastre-se
			</div>
			<div class="content-bottom">
				<form action="#" method="post">
					<div class="field-group">
						<span class="fa fa-user" aria-hidden="true"></span>
						<div class="wthree-field">
							<input name="Nome" id="Nome" type="text" placeholder="Nome">
						</div>
					</div>
                    <div class="field-group">
						<span class="fa fa-user" aria-hidden="true"></span>
						<div class="wthree-field">
							<input name="Sobrenome" id="Sobrenome" type="text" placeholder="Sobrenome">
						</div>
					</div>
                    <div class="field-group">
						<span class="fa fa-id-badge" aria-hidden="true"></span>
						<div class="wthree-field">
							<input name="Cpf" id="Cpf" type="text" placeholder="CPF">
						</div>
					</div>
                    <div class="field-group">
						<span class="fa fa-envelope" aria-hidden="true"></span>
						<div class="wthree-field">
							<input name="UserName" id="UserName" type="text" placeholder="E-Mail">
						</div>
					</div>
					<div class="field-group">
						<span class="fa fa-lock" aria-hidden="true"></span>
						<div class="wthree-field">
							<input name="Password" id="Password" type="Password" placeholder="Senha">
						</div>
					</div>
					<div class="wthree-field">
						<button type="submit" class="btn" id="btn-cadastra-usuario">CADASTRAR</button>
					</div>
					<ul class="list-login">
						<li class="">
							<a asp-action="Login" asp-controller="Account" class="">Login</a>
						</li>
						<li class="clearfix"></li>
					</ul>
				</form>
			</div>
		</div>
    </div>
</section>