<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header">
        <h2 class="card-title">Usuarios</h2>
      </div>
      <div class="card-body"></div>
        <a class="btn btn-info" asp-area="Admin" asp-action="CadastrarUsuario" asp-controller="Usuario">
          <i class="tim-icons icon-simple-add"></i> Novo 
        </a>
        <div class="">
          <table class="table" id="">
            <thead class="text-primary">
              <tr>
                <th>Nome</th>
                <th>E-Mail</th>
              </tr>
            </thead>
            <tbody id="tabela-list-usuarios">
             
            </tbody>
          </table>
          <div>
              <button class="btn btn-success btn-sm" onclick="carregaMaisUsuarios()">Ver Mais</button>
          </div>
        </div>
      </div>
    </div>
</div>