<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header">
        <h2 class="card-title"> Usuarios</h2>
      </div>
      <div class="card-body">
        <!-- Botão para acionar modal -->
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal-cadastrar">
          <i class="tim-icons icon-simple-add"></i> Novo 
        </button>
        <!-- Fim Botão para acionar modal -->
        
        <div class="">
          <table class="table" id="">
            <thead class="text-primary">
              <tr>
                <th>Nome</th>
                <th>Quantidade</th>
                <th>Valor</th>
                <th></th>
              </tr>
            </thead>
            <tbody id="tabela-list-produto">
             
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>