
<form asp-action="BuscarProdutos" asp-controller="Produto" class="header-search-form" method="GET">
	<input type="text" name="produto" placeholder="Pesquisar ....">
	<button type="submit"><i class="flaticon-search"></i></button>
</form>