@model Divisima.Models.Pedido
	<!-- Page info -->
	<div class="page-top-info">
		<div class="container text-center">
			@if(@TempData["Mensagem"] != null) {
				<i class="fa fa-exclamation-circle fa-2x text-danger"></i> 
				<span class="text-danger"> @TempData["Mensagem"]</span>
			}
		</div>
	</div>
	<!-- Page info end -->

	<!-- checkout section  -->
	<section class="checkout-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 order-2 order-lg-1">
					<form asp-action="Checkout" asp-controller="Pedido" method="post" class="checkout-form">
						<div class="cf-title">Endereço para entraga </div>
						<!---<div class="row">
							<div class="col-md-7">
								<p>Informações de pagamento</p>
							</div>
							<div class="col-md-5">
								<div class="cf-radio-btns address-rb">
									<div class="cfr-item">
										<input type="radio" name="pm" id="one">
										<label for="one">Use my regular address</label>
									</div>
									<div class="cfr-item">
										<input type="radio" name="pm" id="two">
										<label for="two">Use a different address</label>
									</div>
								</div>
							</div>
						</div> ---->
						<div class="row address-inputs">
                            <div class="col-md-6">
								<span style="position: absolute; top: -25px;" asp-validation-for="Cep" class="text-danger" id="feed-valida-cep"></span>
								<input type="text" name="Cep" data-mask="00000-000" id="consultar-cep" placeholder="CEP">		
							</div>
							<div class="col-md-6">
								<span style="position: absolute; top: -25px;" asp-validation-for="Cidade" class="text-danger"></span>
								<input type="text" name="Cidade" id="cidade" placeholder="Cidade">
							</div>
							<div class="col-md-6">
								<span style="position: absolute; top: -25px;" asp-validation-for="Estado" class="text-danger"></span>
								<input type="text" name="Estado" id="estado" placeholder="Estado">
							</div>
							<div class="col-md-6">
								<span style="position: absolute; top: -25px;" asp-validation-for="Bairro" class="text-danger"></span>
								<input type="text" name="Bairro" id="bairro" placeholder="Bairro">
							</div>
							<div class="col-md-6">
								<span style="position: absolute; top: -25px;" asp-validation-for="Endereco" class="text-danger"></span>
								<input type="text" name="Endereco" placeholder="Endereco/Rua/Avenida">
							</div>
							<div class="col-md-6">
								<input type="text" name="Numero" placeholder="Numero">
							</div>
							<div class="col-md-6">
								<input type="text" name="Complemento" placeholder="Complemento">
							</div>
						</div>
						<!---
						<div class="cf-title">Delievery Info</div>
						<div class="cf-title">Payment</div>--->
						<input type="submit" class="site-btn submit-order-btn" value="Finalizar Compra">
					</form>
					<a href="https://api.whatsapp.com/send?phone=5579981333237&text=dadasasdas">aaa</a>
				</div>
				<div class="col-lg-4 order-1 order-lg-2">
					<div class="checkout-cart">
						<h3 class="total-itens-carrinho"></h3>
						<ul class="product-list">
							<!----conteudo carregado dinâmicamente via ajax -->
						</ul>
						<ul class="price-list">
							<li class="total">
								Total<span class="valor-total-itens mr-5"></span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
<!-- checkout section end -->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


