<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h2 class="card-title"> Produtos</h2>
      </div>
      <div class="card-body">
        <!-- Botão para acionar modal -->
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal-cadastrar">
          <i class="tim-icons icon-simple-add"></i> Novo 
        </button>
        <!-- Fim Botão para acionar modal -->
        
        <div class="">
          <table class="table" id="">
            <thead class="text-primary">
              <tr>
                <th>Nome</th>
                <th>Quantidade</th>
                <th>Valor</th>
                <th></th>
              </tr>
            </thead>
            <tbody id="tabela-list-produto">
             
            </tbody>    
          </table>
          <div>
              <button class="btn btn-success btn-sm" onclick="carregaMaisProdutos()">Ver Mais</button>
          </div>
        </div>
      </div>
    </div>
</div>
    
<!-- Modal cadastrar -->
<div class="modal fade" id="modal-cadastrar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cadastrar Produto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="form-cadastro-produto">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="nome-produto">Nome do Produto<span class="text-danger">*</span></label>
                <input class="form-control text-dark nome-categoria" type="text" name="Nome" autocomplete="false">
                <span class="text-danger validate-nome"></span>
              </div>
            </div> 
            <div class="col-md-6">   
              <div class="form-group">
                <label for="descricao-cadastro">Descrição</label>
                <textarea id="descricao-cadastro" class="form-control text-dark nome-categoria" name="Descricao" autocomplete="false" rows="3">
                </textarea>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="descricao-produto">Valor<span class="text-danger">*</span></label>
                <input class="form-control text-dark nome-categoria" type="text" name="Valor" autocomplete="false">
                <span class="text-danger validate-valor"></span>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="descricao-produto">Quantidade<span class="text-danger">*</span></label>
                <input class="form-control text-dark nome-categoria" type="number" name="Quantidade" autocomplete="false" value="1">
                <span class="text-danger validate-quantidade"></span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="descricao-produto">Link Mercado Pago</label>
                <input class="form-control text-dark nome-categoria" type="text" name="LinkMercadoPago" autocomplete="false">
                <span class="text-danger validate-quantidade"></span>
              </div>
            </div>  
            <!--
            <div class="col-md-2"> 
              <div class="form-group">
                <label for="descricao-produto">Tamanho<span class="text-danger">*</span></label>
                <select class="form-control text-dark" name="Tamanho">
                  @foreach (var item in ProdutoTamanhoEnumClass.GetComboEnum())
                  {
                      <option value="@item.Key" class="text-dark">@item.Value</option>
                  }
                </select>
                <span class="text-danger validate-tamanho"></span>
              </div>
            </div>-->
            <div class="col-md-3"> 
              <label>Categoria<span class="text-danger">*</span></label>
              <span class="text-danger validate-categoria"></span>
              <select class="form-control text-dark categoria-produto" id="select-categorias" name="CategoriaId">
              </select>
            </div>
            <div id="div-campos-foto-clone" class="col-md-4" style="border: 1px solid #dedede;"> 
              <label>Foto<span class="text-danger">*</span></label>
              <input class="form-control" type="file" name="Foto" multiple="true">
              <span class="text-danger validate-foto"></span>
            </div>
            <!---<div class="row" id="fotos-incluidas-input">

            </div>
            <div class="col-md-2">
              <button id="btn-adicionar-inputs-foto" class="btn btn-sucess btn-sm" title="Adicionar mais fotos">
                <i class="tim-icons icon-simple-add"></i>
              </button>
            </div>------>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary close-modal-cadastro" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary" onclick="cadastrarProduto()">Cadastrar</button>
      </div>
    </div>
  </div>
</div>
<!-- Fim Modal cadastrar -->

<!-- Modal Detalhes -->
<div class="modal fade" id="modal-detalhe-produto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title font-weight-bold" id="exampleModalLongTitle">Detalhes do Produto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-7 border-right">
            <div class="col-md-12">
              <h5 class="text-dark">Nome: <span class="text-name-produto text-info"></span></h5>
            </div>
            <div class="col-md-12">
              <h5 class="text-dark">Descrição: <span class="text-descricao-produto text-info"></span></h5>
            </div>
            <div class="col-md-12">
              <h5 class="text-dark">Quantidade: <span class="text-quantidade-produto text-info"></span></h5>
            </div>
            <div class="col-md-12">
              <h5 class="text-dark">Valor: <span class="text-valor-produto text-info"></span></h5>
            </div>
            <!--
            <div class="col-md-12">
              <h5 class="text-dark">Tamanho: <span class="text-tamanho-produto text-info"></span></h5>
            </div>
            --->
            <div class="col-md-12">
              <h5 class="text-dark">Categoria: <span class="text-categoria-produto text-info"></span></h5>
            </div>
            <div class="col-md-12">
              <h5 class="text-dark">Link Mercado Pago: <a class="text-link-mercado-pago-produto text-info" href=""></a></h5>
            </div>
          </div>
          <div class="col-md-5">
            <img class="foto-detalhe-produto img-fluid">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
<!-- Fim Modal detalhes -->

<!-- Modal editar-->
<div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="form-edit-produto">
          <div class="row">
            <div class="col-md-6">
                <input type="hidden" class="id-produto" name="ProdutoId">
              <div class="form-group">
                <label for="nome-produto">Nome do Produto<span class="text-danger">*</span></label>
                <input class="form-control text-dark nome-produto" type="text" name="Nome" autocomplete="false">
                <span class="text-danger validate-nome"></span>
              </div>
            </div> 
            <div class="col-md-6">   
              <div class="form-group">
                <label for="descricao-produto">Descrição</label>
                <input class="form-control text-dark descricao-produto" type="text" name="Descricao" autocomplete="false">
                <span class="text-danger validate-nome"></span>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="descricao-produto">Valor</label>
                <input class="form-control text-dark valor-produto" type="text" name="Valor" autocomplete="false">
                <span class="text-danger validate-nome"></span>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="descricao-produto">Quantidade</label>
                <input class="form-control text-dark quantidade-produto" type="number" name="Quantidade" autocomplete="false">
                <span class="text-danger validate-nome"></span>
              </div>
            </div> 
            <div class="col-md-2"> 
              <div class="form-group">
                <label for="descricao-produto">Tamanho</label>
                <select class="form-control tamanho-produto text-dark" name="Tamanho">
                  <option value="0" class="text-dark">PP</option>
                  <option value="1"class="text-dark">P</option>
                  <option value="2"class="text-dark">M</option>
                  <option value="3"class="text-dark">G</option>
                  <option value="4"class="text-dark">GG</option>
                  <option value="5"class="text-dark">Extra G</option>
                </select>
                <span class="text-danger validate-nome"></span>
              </div>
            </div> 
            <div class="col-md-3"> 
              <label>Categoria<span class="text-danger">*</span></label>
              <span class="text-danger validate-categoria"></span>
              <select class="form-control text-dark categoria-produto" name="CategoriaId">
              </select>
            </div>
            <div class="col-md-3"> 
              <label>Foto<span class="text-danger">*</span></label>
              <input class="form-control foto-produto" type="file" id="foto" name="Foto">
               <span class="text-danger validate-foto"></span>
            </div>  
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary close-modal" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary" onclick="editarProduto()">Editar</button>
      </div>
    </div>
  </div>
</div>
<!-- Fim Modal editar -->

<!-- Modal delete-->
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Tem certeza que deseja Deletar este produto?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <input type="hidden" class="id-produto">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary close-modal-delete" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-danger" onclick="deletarProduto()">Deletar</button>
      </div>
    </div>
  </div>
</div>
<!-- Fim Modal delete -->
