@model PedidoViewModel

<li class="dropdown nav-item">
    <a href="javascript:void(0)" class="dropdown-toggle nav-link" data-toggle="dropdown">
        <div class="notification d-none d-lg-block d-xl-block"></div>
        <i class="tim-icons icon-sound-wave"></i>
        <p class="d-lg-none">
        Notifications
        </p>
    </a>
    <ul class="dropdown-menu dropdown-menu-right dropdown-navbar">
        @if(Model.PedidosList.Count > 0) 
        {
            @foreach (var pedidos in Model.PedidosList)
            {
                <li class="nav-link">
                    <a href="#" class="nav-item dropdown-item">Pedido: R$@pedidos.ValorTotal.ToString("N2") - @pedidos.Data.ToString("dd/MM/yyyy")</a>
                </li>
            }
        } 
        else 
        {
            <li class="nav-link">
                <a href="#" class="nav-item dropdown-item">Nenhuma notificação</a>
            </li>
        }
    </ul>
</li>