@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore
@using Divisima.Models

@inject SignInManager<Usuario> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="up-item">
        <ul class="main-menu-superior">
            <i class="flaticon-profile"></i>
            <li><a class="link-user-autenticado" href="#">@User.Identity.Name</a>
                <ul class="sub-menu-superior">
                    @if (User.IsInRole("Admin"))
                    {
                        <li><a class="link-dropdown" asp-area="Admin" asp-action="Index" asp-controller="Admin">Area Adiministrativa</a></li>
                    }
                    <li><a class="link-dropdown" asp-action="Index" asp-controller="Cliente">Meus dados</a></li>
                    <li><a class="link-dropdown" asp-action="Index" asp-controller="CarrinhoCompra">Carrinho de compras</a></li>
                    <li><a class="link-dropdown" asp-action="Checkout" asp-controller="Pedido">Pagina de compra</a></li>
                    <hr class="ml-3 mr-3 text-secondary" style="margin-bottom: 0px; margin-top: 0px">
                    <li><a class="link-dropdown" asp-action="Logout" asp-controller="Account">Sair</a></li>
                </ul>
            </li>
        </ul>
    </div>
}
else
{
    <div class="up-item">
		<i class="flaticon-profile"></i>
		<a id="login-icon" asp-action="Login" asp-controller="Account">Login</a> 
			Ou 
		<a id="cadastro-icon" asp-action="Cadastro" asp-controller="Account">Cadastre-se</a>
	</div>
}