@model Divisima.Models.Pedido
	<!-- Page info -->
	<div class="page-top-info">
		<div class="container text-center">
			@if(@TempData["Mensagem"] != null) {
				<i class="fa fa-exclamation-circle fa-2x text-danger"></i> 
				<span class="text-danger"> @TempData["Mensagem"]</span>
			}
		</div>
	</div>
	<!-- Page info end -->

	<!-- checkout section  -->
	<section class="checkout-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 order-2 order-lg-1">
					<form asp-action="Checkout" asp-controller="Pedido" method="post" class="checkout-form">
						<!----<div class="cf-title">Endereço para entraga </div>
						<div class="row">
							<div class="col-md-7">
								<p>Informações de pagamento</p>
							</div>
							<div class="col-md-5">
								<div class="cf-radio-btns address-rb">
									<div class="cfr-item">
										<input type="radio" name="pm" id="one">
										<label for="one">Use my regular address</label>
									</div>
									<div class="cfr-item">
										<input type="radio" name="pm" id="two">
										<label for="two">Use a different address</label>
									</div>
								</div>
							</div>
						</div> ---->
						<div class="row address-inputs" style="display: none;">
                            <div class="col-md-6">
								<span style="position: absolute; top: -25px;" asp-validation-for="Cep" class="text-danger" id="feed-valida-cep"></span>
								<input type="text" name="Cep" data-mask="00000-000" id="consultar-cep" placeholder="CEP">		
							</div>
							<div class="col-md-6">
								<span style="position: absolute; top: -25px;" asp-validation-for="Cidade" class="text-danger"></span>
								<input type="text" name="Cidade" id="cidade" placeholder="Cidade">
							</div>
							<div class="col-md-6">
								<span style="position: absolute; top: -25px;" asp-validation-for="Estado" class="text-danger"></span>
								<input type="text" name="Estado" id="estado" placeholder="Estado">
							</div>
							<div class="col-md-6">
								<span style="position: absolute; top: -25px;" asp-validation-for="Bairro" class="text-danger"></span>
								<input type="text" name="Bairro" id="bairro" placeholder="Bairro">
							</div>
							<div class="col-md-6">
								<span style="position: absolute; top: -25px;" asp-validation-for="Endereco" class="text-danger"></span>
								<input type="text" name="Endereco" placeholder="Endereco/Rua/Avenida">
							</div>
							<div class="col-md-6">
								<input type="text" name="Numero" placeholder="Numero">
							</div>
							<div class="col-md-6">
								<input type="text" name="Complemento" placeholder="Complemento">
							</div>
							<div class="col-md-6">
								<input type="hidden" id="input-valor-total" placeholder="Valor Total">
							</div>
						</div>
						<!---
						<div class="cf-title">Delievery Info</div>
						<div class="cf-title">Payment</div>
						<input type="submit" class="site-btn submit-order-btn" value="Finalizar Compra">--->
						<div id="container-buttons-paypal"></div>
					</form>
				</div>
				<div class="col-lg-4 order-1 order-lg-2">
					<div class="checkout-cart">
						<h3 class="total-itens-carrinho"></h3>
						<ul class="product-list">
							<!----conteudo carregado dinâmicamente via ajax -->
						</ul>
						<ul class="price-list">
							<li class="total">
								Total<span class="valor-total-itens mr-5"></span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
<!-- checkout section end -->

<!-------------------------------------->
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://www.paypal.com/sdk/js?client-id=AUkLY4vSQsmDfP_19jKeGIqhmiIv5ujGaLBIjX9AtTq8-IBTPO8fw8OHMV5d8AULvCyn0oWhqcpMFI0p&currency=BRL" data-sdk-integration-source="button-factory"></script>
<script>
	paypal.Buttons({
		enableStandardCardFields: true,
		createOrder: function(data, actions) {
			return actions.order.create({
				purchase_units: [{
					amount: {
						value: document.querySelector('#input-valor-total').value,
						currency_code: 'BRL'
					},
					/*shipping: {
						address: {
							address_line_1: '2211 N First Street',
							address_line_2: 'Building 17',
							admin_area_2: 'San Jose',
							admin_area_1: 'CA',
							postal_code: '95131',
							country_code: 'US'
						}
					},*/
				}]
			});
		},
		onApprove: function(data, actions) {
			return actions.order.capture().then(function(details) {
				//console.log(details);
				var ruaENumero = details.purchase_units[0].shipping.address.address_line_1;
				var ruaENumeroFormatado = ruaENumero.split(" ");
				var bairro = details.purchase_units[0].shipping.address.address_line_2;
				var estado = details.purchase_units[0].shipping.address.admin_area_1;
				var cidade = details.purchase_units[0].shipping.address.admin_area_2;
				var cep = details.purchase_units[0].shipping.address.postal_code;
				var valorTotal = details.purchase_units[0].amount.value;
				$.ajax({
					url: "/Pedido/Checkout",
					type: "POST",
					dataType: "json",
					data: {
						'Endereco': ruaENumeroFormatado[0],
						'Numero': ruaENumeroFormatado[2],
						'Cidade': cidade,
						'Bairro': bairro ?? "Não informado",
						'Estado': estado,
						'Cep': cep,
						'ValorTotal': valorTotal
					},
					success: function(result) {
						console.log(result);
						alert('Transação concluída por ' + details.payer.name.given_name);
						window.location = '/';
					},
					error: function(request, status, erro) {
						alert("Problema ocorrido: " + status + "\nDescição: " + erro);
					}
				});
			});
		},
		onError: function (err) {
			window.location.href = "/Error/Error";
		}
	}).render("#container-buttons-paypal");
</script>
<!-------------------------------------->
<script src="~/lib/jquery/dist/jquery.min.js"></script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


